.Car-svg{
    text-align: center;
    color: rgb(7, 7, 7);

  }
  .App{
    background-color: rgb(216, 108, 108);
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .contein{
    font-size: 25px;
    color:rgb(6, 6, 12);
    background-color: blanchedalmond;
  }
  
